/*
=============== 
Fonts
===============
*/
/* @import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"); */
/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  /* --clr-primary-1: hsl(184, 91%, 17%); */
  --clr-primary: #2e9cca;
  --clr-primary-dark: #29648a;
  --clr-secondary: #464866;
  --clr-secondary-dark: #25274d;
  --clr-secondary-light: #aaabb8;
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
/*
=============== 
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  color: var(--clr-secondary);
  line-height: 1.5;
  /* font-size: 0.875rem; */
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
.showborder {
  border: 3px solid blue;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1rem;
}
p {
  margin-bottom: 1.25rem;
  /* color: var(--clr-secondary-dark); */
}
h1,
h2,
h3,
h4 {
  line-height: 1;
}
body {
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-secondary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr1);
  /* background: var(--clrprimary-8); */
}
.section {
  padding-top: 150px;
  /* margin-top: 100px; */
}
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: var(--clr-primary);
}
.section-center {
  margin: 0 auto;
  width: 1170px;
}
/* .section-center {
  width: 95vw;
} */
/*
=============== 
Navbar
===============
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  border-bottom: 2px solid var(--clr-secondary);
  z-index: 2;
}
.nav-icons {
  display: none;
}
.nav-center {
  width: 100%;
  width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav-toggle {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  cursor: pointer;
}
.nav-toggle:hover {
  /* transform: scale(1.2); */
}
.nav-link {
  display: block;
  padding: 1rem 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  color: var(--clr-grey-1);
  cursor: pointer;
  font-size: 1rem;
}
.nav-link:hover {
  color: var(--clr-secondary);
  background: var(--clr-primary);
  /* padding-left: 2.25rem; */
}
.nav-link:hover {
  /* padding: 0; */
  color: var(--clr-primary);
  background: transparent;
}
/* 280px */
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 280px;
}
.navbar {
  padding: 1rem 2rem;
}
.nav-toggle {
  display: none;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* optional */
  flex-wrap: wrap;
}
.nav-links {
  height: auto;
  display: flex;
}
.nav-header {
  padding: 0 0;
}
.nav-link {
  /* padding: 0 0; */
  margin-right: 0.7rem;
}

.nav-icons {
  display: flex;
}
.nav-icon {
  margin-right: 0.7rem;
  color: var(--clr-primary-5);
  font-size: 1.2rem;
  transition: var(--transition);
}
.nav-icon:hover {
  color: var(--clr-primary);
}
@media screen and (min-width: 992px) {
  /* hide toggle button */
}
/*
=============== 
Hero
===============
*/
.hero {
  min-height: 100vh;
  background: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  text-align: center;
  color: var(--clr-secondary);
  padding: 0 3rem;
  margin-top: 100px;
}
.hero-banner h1 {
  text-transform: uppercase;
}
.hero-banner p {
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--clr-white);
  /* color:; */
  font-weight: bolder;
  letter-spacing: var(--spacing);
}
.hero-btn {
  padding: 0.9rem 1.6rem;
  font-size: 1.25rem;
  background: var(--clr-white);
  /* color: var(--clr-primary-5); */
  /* color: rgb(128,0,64); */
  color: var(--clr-secondary-dark);
}
.hero-btn:hover {
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
}
.hero {
  background-image: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.6; */
}
.hero-banner {
  padding: 0;
}
.hero-banner p {
  width: 45rem;
}
@media screen and (min-width: 768px) {
}
/*
=============== 
About
===============
*/
/* section add to globals */
/* title add to globals */
/* section center add to globals */
.about-img,
.about-info {
  margin-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  .about-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about-img,
  .about-info {
    flex: 0 0 calc(50% - 2rem);
    margin-bottom: 0;
    align-self: center;
  }
}
@media screen and (min-width: 1170px) {
  .about-img {
    /* position: relative; */
  }
  .about-photo {
    /* position: relative; */
  }
}
/*
=============== 
Services
===============
*/
.services {
  /* background: var(--clr-secondary); */
}
.service {
  text-align: center;
  margin-bottom: 3rem;
}
.service-icon {
  background: var(--clr-secondary-dark);
  color: var(--clr-primary);
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service-text {
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.services-center {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.service {
  flex: 0 0 calc(50% - 1rem);
  margin-bottom: 1rem;
}
.service {
  flex: 0 0 calc(33.333% - 1rem);
}
.service {
  display: flex;
  text-align: left;
}
.service-icon {
  align-self: start;
}
.service-info {
  padding-left: 1rem;
}
.service-title {
  margin-bottom: 0.5rem;
}
/*
=============== 
Featured Tours
===============
*/
.tour-card {
  transition: var(--transition);
  margin-bottom: 2rem;
}
.tour-card:hover {
  transform: scale(1.02);
}
.tour-img-container {
  position: relative;
}
.tour-img {
  height: 15rem;
  object-fit: cover;
}
.tour-date {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--clr-primary);
  /* margin-bottom: 0; */
  color: var(--clr-secondary-dark);
  text-transform: capitalize;
  padding: 0.2rem 0.3rem;
}
.tour-info {
  padding: 1.25rem 1.5rem;
}
/* extra css */
.tour-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tour-title p,
.tour-title h4 {
  margin-bottom: 0.75rem;
  line-height: 1.25;
}
.tour-title p {
  color: var(--clr-grey-7);
}
.tour-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.tour-footer p {
  line-height: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}
.tour-btn {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .featured-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tour-card {
    flex: 0 0 calc(50% - 2rem);
  }
}
@media screen and (min-width: 1170px) {
  .tour-card {
    flex: 0 0 calc(33.333% - 2rem);
  }
}
/*
=============== 
Contact
===============
*/
.contact {
  background: var(--clr-primary-dark);
}
.contact-title {
  color: var(--clr-white);
}
.contact-title p {
  color: var(--clr-primary-8);
}
.contact-form {
  display: flex;
  width: 28rem;
}
.form-control {
  flex: 1 1 auto;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 992px) {
  .contact-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact-form {
    align-self: flex-start;
    flex: 1 1 auto;
    width: 100%;
    padding-left: 2rem;
  }
}
/*
=============== 
Gallery
===============
*/
.gallery-img-container {
  position: relative;
}
.gallery-img {
  /* height: 17rem; */
  width:25%;
  object-fit: cover;
}
.gallery-img-container:hover .gallery-img {
  opacity: 0.5;
}
.gallery-img-container:hover .gallery-icon {
  opacity: 1;
}
.gallery-center {
  display: flex;
  flex-wrap: wrap;
}
.gallery-img-container {
  flex: 0 0 25%;
  /* width:20%; */
}
/*
=============== 
Footer
===============
*/
.footer {
  background: var(--clr-secondary-dark);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer-links,
.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.footer-link {
  color: var(--clr-white);
  text-transform: capitalize;
  font-size: 1rem;
  margin-right: 1rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
}
.footer-link:hover {
  color: var(--clr-primary-5);
}
.footer-icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--clr-primary);
  transition: var(--transition);
}
.footer-icon:hover {
  color: var(--clr-primary);
}
.copyright {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--clr-white);
}